.container
    .row(ng-controller="planningController")
        h2 Zaplanuj podróż
            form
                .form-horizontal
                    .control-group
                        label.control-label(for='dp1') Wybierz dzień
                        .controls
                            .input-group
                                input.date-picker.form-control(
                                id='dp1'
                                type='text'
                                )
                                label.input-group-addon.btn(for='dp1')
                                    span.glyphicon.glyphicon-calendar

                .form-group
                    label Przystanek
                    select.form-control(
                    name='busstop'
                    )
                        option Wybierz Przystanek
                        option Przystanek 1
                        option Przystanek 2
                        option Przystanek 3

                .form-group
                    label Linia
                    select.form-control(
                    name='line'
                    )
                        option Wybierz Linię
                        option Linia 101
                        option Linia 102
                        option Linia 103

                .form-group
                    label Godzina
                    select.form-control(
                    name='hours'
                    )
                        option Wybierz Godzinę
                        option 10:10
                        option 12:12
                        option 15:14

            .lines(ng-repeat="line in lines") linie {{line.name}}


