.container
    .row(ng-controller="planningController")

            h2 Zaplanuj podróż
            form
                .form-group
                    label.control-label(for='dp1') Wybierz dzień
                    input.date-picker.form-control(
                                id='dp1'
                                type='date'
                                ng-model='formday'
                                )


                .form-group
                    label Przystanek:
                    select.form-control(
                        name='busstop'
                        ng-model='formstops'
                    )
                        option(ng-repeat="stop in planStops" value="{{$index}}") {{ stop.name }}

                .row
                    .wybrano wybrano: {{stop.name}}
                    .lista(ng-repeat="item in buses")
                        .linie() linie: {{item.line}} kierunek: {{item.destination}}
                        .godziny odjazdy:
                            span(ng-repeat="hours in item.departures") {{hours}},

                .form-group
                    label Linia nr:
                    select.form-control(
                        name='buslines'
                        ng-model='formlines'
                    )
                        option(ng-repeat="item in buses") {{item.line}} kierunek: {{item.destination}}

                    button.btn.btn-default(ng-click="addLine()") Dodaj Plan


                    .row
                        .col-md-4 Data: {{day | date:'dd-MM-yyyy' }}
                        .col-md-4 Przystanek: {{stops}}
                        .col-md-4 Linia: {{lines}}







