.container
    .row(ng-controller="planningController")

        h2 Zaplanuj podróż
            form
                .form-horizontal
                    .control-group
                        label.control-label(for='dp1') Wybierz dzień
                        .controls
                            .input-group
                                input.date-picker.form-control(
                                id='dp1'
                                type='text'
                                ng-model='formday'
                                )
                                label.input-group-addon.btn(for='dp1')
                                    span.glyphicon.glyphicon-calendar

                .form-group
                    label Linia nr:
                    select.form-control(
                    name='busstop'
                    ng-model='formlines'
                    )
                        option(ng-repeat="line in planning") {{ line.name }}

                    button(ng-click="addLine()") Dodaj Plan

                    .row
                    .col-md-4 {{lines}}
                    .col-md-4 {{day}}






